/* <Tailwind> */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* </> */


/**|| <Font (sorted by boldness) */
@font-face {
    font-family: Avenir;
    src: url('../public/styles/fonts/Avenir\ Book.ttf');
}
@font-face {
    font-family: AvenirMedium;
    src: url('../public/styles/fonts/Avenir\ Medium.ttf');
}
@font-face {
    font-family: Myriad;
    src: url('../public/styles/fonts/Myriad\ Pro\ Bold.ttf');
}
/* > */

html, body {
    padding: 0;
    margin: 0;
    font-family: Avenir, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* <Defaults> */
h1, h2, h3, h4, h5 {
    font-family: Myriad;
    line-height: 1.8;
}
h1 { font-size: 3.0rem; margin-top: 10px; }
h2 { font-size: 2.1rem; margin-top: 8px; }
h3 { font-size: 1.6rem; margin-top: 7px; }
h4 { font-size: 1.3rem; margin-top: 6px; font-family: AvenirMedium; }
h5 { font-size: 1.2rem; margin-top: 5px; font-family: AvenirMedium; }
h6 { font-size: 1.1rem; margin-top: 4px; font-family: AvenirMedium; }
.bold {
    font-family: Myriad;
}
/* h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; } */

ul:not(.unstyled) {
    padding-left: 2rem;
}
ul:not(.unstyled) li {
    list-style-type: disc;
}
/* Link */
a {
    cursor: pointer;
}
a:not(.unstyled) {
    color: #0000e1;
    text-decoration: underline;
}
a:not(.unstyled):hover {
    color: #fa00f2;
}

/* </> */

/* UCJG.v2.css */
p {
    line-height: 1.7;
}

code { /* light code like notion */
    font-family: monospace;
    padding: .2ch;
    color: #eb5757;
    background-color: #ededeb;
    border-radius: .2ch;
}
code.dark { /* dark code like sublime */
    background-color: #222;
    color: rgb(255, 77, 77);
}



.container {
    /* 5% Horizontal Margin */
    padding: 0 5%;
}

.gradient-text { /* blue/purple gradient text */
    background: -webkit-linear-gradient(45deg, #D956A7 0%, #565DFA 60.42%, #3983FB 100%);
    -webkit-text-fill-color: transparent;
}

.alert {
    padding: 0.9rem 1.3rem;
    background-color: #cce5ff;
    border-radius: 3px;
    border: 1px solid #82b9f4;
    width: fit-content;
}

/* Button.v2.css */
button {
    border: 1.1px solid #000;
    border-radius: 3px;
    padding: 5px 10px;
    background: #e9e9e9;
    position: relative;
    top: 0;

    transition: top;
    transition-duration: .1s;
}
button:hover {
    outline: 2.1px solid #111;
    outline-offset: -2px;
    filter: brightness(0.85) saturate(1.4);
}
button:active {
    border-radius: 2px;
	top: 1.1px;
    filter: brightness(0.8) saturate(1.4);
}
button:disabled {
    outline: none;
}
.btn-red   { background-color: #ff8f8f; }
.btn-yellow{ background-color: #ffd472; }
/* .btn-green { background-color: #51d751; } */
.btn-green { background-color: #90ee90; }
.btn-blue  { background-color: #aed8fc; }
